header {
  .header-content {
    @extend %fixedWidth;
    @include flex(row, center, space-between);
    height: 80px;
    border-bottom: 1px solid black;

    .logo {
      opacity: 0.7;
      img {
        vertical-align: middle;
      }
      span {
        opacity: inherit;
        font-size: 1.5rem;
        margin-left: 30px;
        vertical-align: middle;
      }
    }
    .list-section {
      min-width: 500px;
      ul {
        @include flex(row, center, space-between);

        li {
          font-weight: bold;
          font-size: 1rem;
          &:not(:last-child) {
            color: $textColor;
          }
          button {
            @include flex(row, center, center);
            font-weight: inherit;
            font-family: inherit;
            font-size: inherit;
            padding: 10px 40px;
            background-color: inherit;
            color: $textColor;
            border: 1px solid $textColor;
            border-radius: 5px;
            white-space: nowrap;

            img {
              margin-right: 5px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
