.jumbotron {
  @extend %fixedWidth;
  @include flex(row, flex-start, center);

  padding: $fixedPadding;

  .left,
  .right {
    width: 50%;
  }

  .left {
    @include flex(column, center, center);
    gap: 50px;

    span {
      color: $textColor;
    }
    h1 {
      color: $titleColor;
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      color: $textColor;
      font-size: 1.5rem;
    }

    .logos,
    span {
      align-self: start;
    }

    .logos {
     @extend %logos;
    }
  }

  .right {
    img {
      width: 100%;
    }
  }
}
