.orange {
  background-color: $orange;
  width: 100%;
}

.section-orange {
  @extend %fixedWidth;
  padding: $fixedPadding;
  padding-bottom: 0;

  .title {
    text-align: center;
    color: $contrastText;
    margin-bottom: 150px;
    font-size: 1.5rem;
  }

  .images {
    @include flex(row, center, space-between);
    flex-wrap: wrap;

    .image {
      text-align: center;
      margin: 50px 0 200px 0;
      img {
        background-color: $contrastText;
        border-radius: 20px;
        height: 250px;
        margin-bottom: 50px;
      }

      div {
        color: white;
        font-size: 1.5rem;
      }
    }
  }

  .rabbit {
    text-align: center;
    margin-bottom: 150px;
    img {
      background-color: $contrastText;
      border-radius: 50px;
      padding: 30px;
    }
  }

  .lower-section {
    padding: 100px 0;
  }
  .title {
    margin-bottom: 50px;
  }
}
