%fixedWidth {
  width: 70%;
  margin: auto;
}

$buttonColor: #7f14d4;
$titleColor: #3e14e9;
$textColor: #3e14e9;
$orange: #0414b3;
$contrastText: #fff;
$fixedPadding: 50px 0;

%button {
  padding: 5px 10px;
  background-color: $buttonColor;
  color: white;
  border: none;
  border-radius: 5px;
  font-style: inherit;
  font-family: inherit;
}

%logos {
  @include flex(row, center, flex-start);
  gap: 20px;
  width: 100%;
  span {
    height: 33px;
    line-height: 33px;
  }
  button {
    @extend %button;
    @include flex(row, center, center);
    font-size: 1.2rem;

    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}
